# Global
PUID=1000
PGID=1000
TZ=America/New_York
DOCKER_ROOT=/opt/docker
DATA_ROOT=/mnt/data

# Domains
JELLYFIN_DOMAIN=watch.example.com
NAVIDROME_DOMAIN=music.example.com
AUDIOBOOKSHELF_DOMAIN=audiobooks.example.com
WIZARR_DOMAIN=invite.example.com
JELLYSTAT_DOMAIN=stats.example.com

# Navidrome
ND_LASTFM_APIKEY=
ND_LASTFM_SECRET=

# Wizarr
DISABLE_BUILTIN_AUTH=false

# Jellystat
POSTGRES_USER=jellystat
POSTGRES_PASSWORD=
JWT_SECRET=
