# Global
TZ=America/New_York
GID=1000
DOCKER_ROOT=/opt/docker

# Cloudflare
CLOUDFLARE_EMAIL=
CLOUDFLARE_TOKEN=

# Traefik
DASHBOARD_DOMAIN=traefik.example.com
ROOT_DOMAIN=example.com
TRAEFIK_AUTH_CREDENTIALS=

# Crowdsec
CROWDSEC_API_KEY=
