# Global
TZ=America/New_York
DOCKER_ROOT=/opt/docker
HOST_IP=192.168.1.100

# Vaultwarden
VAULTWARDEN_DOMAIN=vault.example.com
VAULTWARDEN_FULL_DOMAIN=https://vault.example.com
SIGNUPS_ALLOWED=false
WEBSOCKET_ENABLED=true
