services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      - infrastructure_net
    ports:
      - 5030:5030 #slskd
      - 6789:6789 #nzbget
      - 9696:9696 #prowlarr
      - 8191:8191 #flaresolverr
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${VPN_USER}
      - OPENVPN_PASSWORD=${VPN_PASS}
      - SERVER_REGIONS=${VPN_REGION}
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_PROVIDER=private internet access
      - DNS_ADDRESS=1.1.1.1
      - BLOCK_MALICIOUS=off
      - FIREWALL_OUTBOUND_SUBNETS=${LAN_NETWORK}
    volumes:
      - ${DOCKER_ROOT}/gluetun:/gluetun
    labels:
      glance.name: Gluetun
      glance.icon: mdi:bottle-tonic
      glance.description: VPN routed Container
  slskd:
    image: slskd/slskd:latest
    container_name: slskd
    restart: unless-stopped
    network_mode: service:gluetun
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - SLSKD_REMOTE_CONFIGURATION=true
      - SLSKD_HTTP_PORT=5030
      - SLSKD_LISTEN_INTERFACE=0.0.0.0
      - SLSKD_DOWNLOADS_DIR=/data/music/_slskd_temp
      - SLSKD_WEB_AUTHENTICATION_API_KEYS_0_KEY=${SLSKD_API_KEY}
      - SLSKD_WEB_AUTHENTICATION_API_KEYS_0_ROLE=administrator
    volumes:
      - ${DOCKER_ROOT}/slskd:/app
      - ${DATA_ROOT}:/data
    labels:
      glance.name: soulseek
      glance.icon: mdi:archive-music
      glance.url: http://${HOST_IP}:5030/
      glance.description: Music Finder
  nzbget:
    image: nzbgetcom/nzbget:latest
    container_name: nzbget
    restart: unless-stopped
    network_mode: service:gluetun
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - NZBGET_USER=${NZBGET_USER}
      - NZBGET_PASS=${NZBGET_PASS}
    volumes:
      - ${DOCKER_ROOT}/nzbget:/config
      - ${DATA_ROOT}:/data
    labels:
      glance.name: nzbget
      glance.icon: mdi:account-arrow-down
      glance.url: http://${HOST_IP}:6789/
      glance.description: peer2peer files
      glance.parent: gluetun
  qbittorrentvpn:
    image: binhex/arch-qbittorrentvpn:latest
    container_name: qbittorrentvpn
    restart: unless-stopped
    privileged: true
    networks:
      - infrastructure_net
    ports:
      - 8080:8080
      - 8118:8118
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VPN_USER=${VPN_USER}
      - VPN_PASS=${VPN_PASS}
      - VPN_PROV=pia
      - LAN_NETWORK=${LAN_NETWORK}
      - WEBUI_PORT=8080
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_ROOT}/qbittorent/openvpn:/config
      - ${DATA_ROOT}:/data
    labels:
      glance.name: QBitTorrent
      glance.icon: mdi:pirate
      glance.url: http://${HOST_IP}:8080/
      glance.description: Torrent Downloader
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    network_mode: service:gluetun
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_ROOT}/prowlarr:/config
    labels:
      glance.name: prowlarr
      glance.icon: mdi:list-box
      glance.url: http://${HOST_IP}:9696/
      glance.description: Torrent Indexer
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    network_mode: service:gluetun
    environment:
      - TZ=${TZ}
      - LOG_LEVEL=${FS_LOG_LEVEL}
      - LOG_HTML=${FS_LOG_HTML}
      - CAPTCHA_SOLVER=${FS_CAPTCHA_SOLVER}
      - BROWSER_TIMEOUT=${FS_BROWSER_TIMEOUT}
      - DISABLE_MEDIA=${FS_DISABLE_MEDIA}
    labels:
      glance.hide: true
networks:
  proxy:
    external: true
  infrastructure_net:
    external: true
